<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{url_for('static', filename="style.css")}}>
</head>
<body>

    <header>
        <h1> Din treningsøkt</h1>
    </header>

    {% for ovelse in ovelser %}
    <tr>
        <tr> <div id="overskrift">{{ ovelse["navn"] }} </div></tr> 
        <tr><img id="brad" src="{{ ovelse["bilde"] }}" alt=""></tr>

    </tr>
{% endfor %}   

    
</body>
</html>